* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    background-color: #eeeff4;
    height: 100vh;
}

.app .heading p {
    color: #52525b;
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

.app .app-container {
    width: 90%;
    margin: 2rem auto;
    background: #ffffff;
    border-radius: 2rem;
    padding: 1rem 0;
}

.app .app-container .weather-form {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.app .app-container .weather-form input {
    padding: 0.6rem;
    margin: 1rem auto;
    border: 0.5px solid #8383a5;
    border-radius: 8px;
    width: 90%;
    margin-top: 3rem;
}
.app .app-container .weather-form button {
    width: 35%;
    margin: 0 auto;
    padding: 0.4rem;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.app .app-container .weather-form img {
    width: 150px;

    margin: 2rem auto;
}

.app .app-container .weather-info-show {
    background-color: #ffffff;
    width: 78%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1.6rem;
}
.app .app-container .weather-info-show .main-info {
    display: flex;
    justify-content: space-between;
}

.app .app-container .weather-info-show .main-info img {
    width: 50px;
    height: 50px;
}
.app .app-container .weather-info-show .main-info .info .location {
    font-size: 1.4rem;
    color: #52525b;
}
.app .app-container .weather-info-show .main-info .info .data {
    font-size: 0.9rem;
    color: #71717a;
}
.app .app-container .weather-info-show .main-info .info .data .large {
    font-size: 1.4rem;
    color: #52525b;
}

.app .app-container .weather-info-show hr {
    width: 50%;
    margin: 1.6rem auto;
}

.app .app-container .weather-info-show .other-info {
    display: flex;
    flex-direction: column;
}
.app .app-container .weather-info-show .other-info p {
    color: #3f3f46;
}

.app .app-container .weather-info-show .other-info .other-info-data {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.app .app-container .weather-info-show .other-info .other-info-data .item {
    display: flex;
}

.app .app-container .weather-info-show .other-info .other-info-data .item img {
    height: 32px;
    width: 32px;
    margin: 0 0.6rem;
}

.app
    .app-container
    .weather-info-show
    .other-info
    .other-info-data
    .item
    .sub-info {
    display: flex;
    flex-direction: column;
}

.app
    .app-container
    .weather-info-show
    .other-info
    .other-info-data
    .item
    .sub-info
    .data {
    color: #3f3f46;
}
.app
    .app-container
    .weather-info-show
    .other-info
    .other-info-data
    .item
    .sub-info
    .sub-info-title {
    color: #3f3f46;
    font-size: 0.8rem;
}

.app footer p {
    text-align: center;
    font-size: 0.6rem;
}

@media only screen and (min-width: 500px) {
    .app {
        background-color: #eeeff4;
        height: 100%;
        padding: 1.5rem;
    }

    .app .app-container {
        width: 400px;
        margin: 2rem auto;
        background: #ffffff;
        border-radius: 2rem;
        padding: 1rem 0;
    }

    .app footer p {
        text-align: center;
        margin: 0 auto;
        width: 450px;
        font-size: 0.6rem;
        background: #eeeff4;
    }
}
@media only screen and (min-width: 1300px) {
    .app {
        background-color: #eeeff4;
        height: 100vh;
        padding: 1.5rem;
    }

    .app .app-container {
        width: 450px;
        margin: 2rem auto;
        background: #ffffff;
        border-radius: 2rem;
        padding: 1rem 0;
    }

    .app footer {
        text-align: center;
        margin: 0 auto;
        width: 450px;
        font-size: 0.6rem;
        background: #eeeff4;
    }
    .app footer a {
        text-align: center;
        margin: 0 auto;
        width: 450px;
        font-size: 0.6rem;
        background: #eeeff4;
        color: #3f3f46;
    }
}
